<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cityOrnumber</key>
	<array>
		<dict>
			<key>cityName</key>
			<string>Achina</string>
			<key>Number</key>
			<string>8888888888</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>Bchina</string>
			<key>Number</key>
			<string>8888888888</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>Cchina</string>
			<key>Number</key>
			<string>8888888888</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>Dchina</string>
			<key>Number</key>
			<string>8888888888</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>Fchina</string>
			<key>Number</key>
			<string>8888888888</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>Gchina</string>
			<key>Number</key>
			<string>8888888888</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>Hchina</string>
			<key>Number</key>
			<string>8888888888</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>Ichina</string>
			<key>Number</key>
			<string>8888888888</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>Jchina</string>
			<key>Number</key>
			<string>8888888888</string>
		</dict>
		<dict>
			<key>cityName</key>
			<string>Kchina</string>
			<key>Number</key>
			<string>8888888888</string>
		</dict>
	</array>
</dict>
</plist>
