.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.ellipse {
}
.image {
}
.button {
}
._标题1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:32px;
  text-align:left;
}
._标题2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:24px;
  text-align:left;
}
._标题3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:18px;
  text-align:left;
}
._标题4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:14px;
  text-align:left;
}
._标题5 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本 {
  text-align:left;
}
.line {
}
.arrow {
}
._流程形状 {
}
._连接符 {
}
._文本1 {
  text-align:left;
}
._标题11 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:32px;
  text-align:left;
}
._图像 {
  color:#000000;
}
._表格 {
}
._表格单元 {
}
._单选按钮 {
  text-align:left;
}
._文本框_单行_ {
  color:#000000;
  text-align:left;
}
._形状 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._横线 {
}
._垂直线 {
}
._图像1 {
  color:#000000;
}
.icon {
}
.flow_shape {
}
._文本2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
}
.error {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:center;
}
._文本3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
._图像2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
._形状1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.button_normal_seconday {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  color:#FFFFFF;
}
.button_normal_primary {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  color:#76A9E0;
}
.button_pressed {
  color:#76A9E0;
}
._形状2 {
}
._图像3 {
  font-size:11px;
  color:#000000;
}
._文本框_单行_1 {
  font-size:11px;
  color:#000000;
  text-align:left;
}
._形状3 {
  font-size:11px;
}
._表格单元1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
._8pt_text {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:11px;
  color:#333333;
  text-align:left;
}
.bold_text {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
.button_active {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
  text-align:center;
}
.h4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:15px;
  color:#666666;
  text-align:left;
}
.label1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
}
.link_8pt_text_inactive {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:11px;
  color:#000099;
  text-align:left;
}
._形状4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
