<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fences</key>
	<array>
		<dict>
			<key>name</key>
			<string>Home</string>
			<key>radius</key>
			<string>1000</string>
			<key>active</key>
			<true/>
			<key>location</key>
			<dict>
				<key>lat</key>
				<string>31.123456</string>
				<key>lng</key>
				<string>123.123456</string>
				<key>addr</key>
				<string>china</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Home</string>
			<key>radius</key>
			<string>1000</string>
			<key>active</key>
			<true/>
			<key>location</key>
			<dict>
				<key>lat</key>
				<string>31.123456</string>
				<key>lng</key>
				<string>123.123456</string>
				<key>addr</key>
				<string>china</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Home</string>
			<key>radius</key>
			<string>1000</string>
			<key>active</key>
			<true/>
			<key>location</key>
			<dict>
				<key>lat</key>
				<string>31.123456</string>
				<key>lng</key>
				<string>123.123456</string>
				<key>addr</key>
				<string>china</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Home</string>
			<key>radius</key>
			<string>1000</string>
			<key>active</key>
			<true/>
			<key>location</key>
			<dict>
				<key>lat</key>
				<string>31.123456</string>
				<key>lng</key>
				<string>123.123456</string>
				<key>addr</key>
				<string>china</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Home</string>
			<key>radius</key>
			<string>1000</string>
			<key>active</key>
			<true/>
			<key>location</key>
			<dict>
				<key>lat</key>
				<string>31.123456</string>
				<key>lng</key>
				<string>123.123456</string>
				<key>addr</key>
				<string>china</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Home</string>
			<key>radius</key>
			<string>1000</string>
			<key>active</key>
			<true/>
			<key>location</key>
			<dict>
				<key>lat</key>
				<string>31.123456</string>
				<key>lng</key>
				<string>123.123456</string>
				<key>addr</key>
				<string>china</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Home</string>
			<key>radius</key>
			<string>1000</string>
			<key>active</key>
			<true/>
			<key>location</key>
			<dict>
				<key>lat</key>
				<string>31.123456</string>
				<key>lng</key>
				<string>123.123456</string>
				<key>addr</key>
				<string>china</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Home</string>
			<key>radius</key>
			<string>1000</string>
			<key>active</key>
			<true/>
			<key>location</key>
			<dict>
				<key>lat</key>
				<string>31.123456</string>
				<key>lng</key>
				<string>123.123456</string>
				<key>addr</key>
				<string>china</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Home</string>
			<key>radius</key>
			<string>1000</string>
			<key>active</key>
			<true/>
			<key>location</key>
			<dict>
				<key>lat</key>
				<string>31.123456</string>
				<key>lng</key>
				<string>123.123456</string>
				<key>addr</key>
				<string>china</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
