<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>Argentina</string>
			<string>8004447361</string>
			<string>AR</string>
		</array>
		<array>
			<string>Australia</string>
			<string>1800824271</string>
			<string>AU</string>
		</array>
		<array>
			<string>Austria</string>
			<string>+431 3602774780</string>
			<string>AT</string>
		</array>
	</array>
	<array>
		<array>
			<string>Belgium</string>
			<string>+32 026263841</string>
			<string>BE</string>
		</array>
		<array>
			<string>Brazil</string>
			<string>8009419822</string>
			<string>BR</string>
		</array>
		<array>
			<string>Belo_Horizonte</string>
			<string>+31 35150114</string>
			<string>BR</string>
		</array>
	</array>
	<array>
		<array>
			<string>Canada</string>
			<string>+1 8558446058</string>
			<string>CA</string>
		</array>
		<array>
			<string>Chile</string>
			<string>12300209025</string>
			<string>CL</string>
		</array>
		<array>
			<string>China</string>
			<string>4008100588</string>
			<string>CN</string>
		</array>
		<array>
			<string>Colombia</string>
			<string>031-3819345</string>
			<string>CO</string>
		</array>
		<array>
			<string>Costa_Rica</string>
			<string>22909266</string>
			<string>CR</string>
		</array>
	</array>
	<array>
		<array>
			<string>Denmark</string>
			<string>4535158071</string>
			<string>DK</string>
		</array>
		<array>
			<string>Dominican_Republic</string>
			<string>18002039552</string>
			<string>DO</string>
		</array>
	</array>
	<array>
		<array>
			<string>Ecuador</string>
			<string>1800010225</string>
			<string>EC</string>
		</array>
	</array>
	<array>
		<array>
			<string>Fiji</string>
			<string>+679 3319955</string>
			<string>FJ</string>
		</array>
		<array>
			<string>Finland</string>
			<string>358981710047</string>
			<string>FI</string>
		</array>
		<array>
			<string>France</string>
			<string>969360936</string>
			<string>FR</string>
		</array>
	</array>
	<array>
		<array>
			<string>Germany</string>
			<string>+49 06992032110</string>
			<string>DE</string>
		</array>
		<array>
			<string>Greece</string>
			<string>+30 2112111551</string>
			<string>GR</string>
		</array>
		<array>
			<string>Guatemala</string>
			<string>+502 23784831</string>
			<string>GT</string>
		</array>
	</array>
	<array>
		<array>
			<string>Hong_Kong</string>
			<string>+852 31802777</string>
			<string>HK</string>
		</array>
		<array>
			<string>Hungary</string>
			<string>+36 14292215</string>
			<string>HU</string>
		</array>
	</array>
	<array>
		<array>
			<string>India</string>
			<string>18601808877</string>
			<string>IN</string>
		</array>
		<array>
			<string>Indonesia</string>
			<string>+62 2156953488</string>
			<string>ID</string>
		</array>
		<array>
			<string>Indonesia</string>
			<string>+62 2156953489</string>
			<string>ID</string>
		</array>
		<array>
			<string>Ireland</string>
			<string>+353 016590207</string>
			<string>IS</string>
		</array>
		<array>
			<string>Italy</string>
			<string>+39 0226415739</string>
			<string>IT</string>
		</array>
	</array>
	<array>
		<array>
			<string>Jamaica</string>
			<string>18667591370</string>
			<string>JM</string>
		</array>
	</array>
	<array>
		<array>
			<string>Kenya</string>
			<string>+254 202250303</string>
			<string>KE</string>
		</array>
	</array>
	<array>
		<array>
			<string>Lithuania</string>
			<string>37052051198</string>
			<string>LT</string>
		</array>
	</array>
	<array>
		<array>
			<string>Malaysia</string>
			<string>+60 0321415993</string>
			<string>MY</string>
		</array>
		<array>
			<string>Malaysia</string>
			<string>+60 0321416993</string>
			<string>MY</string>
		</array>
		<array>
			<string>Malaysia</string>
			<string>+60 0342882929</string>
			<string>MY</string>
		</array>
		<array>
			<string>Mexico</string>
			<string>18001124682</string>
			<string>MX</string>
		</array>
	</array>
	<array>
		<array>
			<string>Netherlands</string>
			<string>+31 0235684882</string>
			<string>NL</string>
		</array>
		<array>
			<string>Newzealand</string>
			<string>800451708</string>
			<string>NZ</string>
		</array>
	</array>
	<array>
		<array>
			<string>Peru</string>
			<string>80055639</string>
			<string>PE</string>
		</array>
		<array>
			<string>Philippines</string>
			<string>+63 24917373</string>
			<string>PH</string>
		</array>
		<array>
			<string>Poland</string>
			<string>+48 225830081</string>
			<string>PL</string>
		</array>
		<array>
			<string>Portugal</string>
			<string>+351 210608026</string>
			<string>PT</string>
		</array>
	</array>
	<array>
		<array>
			<string>Romania</string>
			<string>+40 216550711</string>
			<string>RO</string>
		</array>
		<array>
			<string>Russia</string>
			<string>8(800)5556595</string>
			<string>RU</string>
		</array>
		<array>
			<string>Russia</string>
			<string>+7(495)9370977</string>
			<string>RU</string>
		</array>
		<array>
			<string>Rio_de_Janeiro</string>
			<string>+21 35130614</string>
			<string>RD</string>
		</array>
	</array>
	<array>
		<array>
			<string>Salvodor_Bahia</string>
			<string>+71 35120712</string>
			<string>SN</string>
		</array>
		<array>
			<string>Sao_Paulo</string>
			<string>+11 30140514</string>
			<string>SG</string>
		</array>
      <array>
         <string>Senegal</string>
         <string>+221 818001939</string>
         <string>SE</string>
      </array>
      <array>
         <string>Singapore</string>
         <string>+65 98972727</string>
         <string>SI</string>
      </array>
		<array>
			<string>South_Africa</string>
			<string>+272 16724030</string>
			<string>ZA</string>
		</array>
		<array>
			<string>Spain</string>
			<string>+34 913753374</string>
			<string>ES</string>
		</array>
		<array>
			<string>Sweden</string>
			<string>46851993133</string>
			<string>SE</string>
		</array>
		<array>
			<string>Switzerland</string>
			<string>+41 225675182</string>
			<string>SZ</string>
		</array>
	</array>
	<array>
		<array>
			<string>Thailand</string>
			<string>+66 027183136</string>
			<string>TH</string>
		</array>
	</array>
	<array>
		<array>
			<string>United_Kingdom</string>
			<string>+44 02074580026</string>
			<string>GB</string>
		</array>
		<array>
			<string>Uruguay</string>
			<string>40190752</string>
			<string>UY</string>
		</array>
		<array>
			<string>United_States</string>
			<string>+1 8553680829</string>
			<string>US</string>
		</array>
	</array>
	<array>
		<array>
			<string>Venezuela</string>
			<string>8001362017</string>
			<string>VE</string>
		</array>
		<array>
			<string>Vietnam</string>
			<string>+84 18001118</string>
			<string>VN</string>
		</array>
	</array>
</array>
</plist>
